html {
  background-color: #b48068;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
#chart_wrapper {
  background: #dbe1dc;
  border: 1rem solid rgba(119, 141, 122);
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}
#chart_div {
  width: 100%; /* Full width for responsive design */
  min-width: 1300px; /* Minimum width to ensure full content is shown */
  height: 400px; /* Fixed height for the chart */
}
